* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.container {
    background: #14BDAC;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.tac {
    color: white;
}

.status {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
}

#score {
    color: white;
}

.reset {
    margin-top: 5px;
    cursor: pointer;
    color: white;
}
.reset:hover {
    color: black;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: #0DA192;
    grid-gap: 15px;
    margin-top: 50px;
}

.cell {
    width: 140px;
    height: 140px;
    background: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}
.cell.x,
.cell.o {
    cursor: not-allowed;
}


.cell.x::before {
    content: '✕';
    font-size: 150px;
    margin-bottom: 20px;
}
.cell.o::before {
    content: '◯';
    font-size: 125px;
    margin-top: 10px;
}
.board.x .cell:not(.x):not(.o):hover::before {
    content: '✕';
    font-size: 150px;
    margin-bottom: 20px;
    color: #0DA192;
}

.board.o .cell:not(.x):not(.o):hover::before {
    content: '◯';
    font-size: 125px;
    margin-top: 10px;
    color: #0DA192;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 140px;
    flex-direction: column;
}

#newGameBtn {
    font-size: 50px;
    background: rgb(199, 211, 211);
    border: 3px solid black;
    border-radius: 25px;
    padding: .25em .5em;
    cursor: pointer;
}

#newGameBtn:hover {
    background: darkgrey;
    color: white;
}

.winning-message.show {
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .board {
        margin-top: 25px;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }
    .status {    
        font-size: 20px;
    }
    .cell {
        height: 100px;
        width: 100px;
    }
    .cell.x::before {   
        font-size: 100px;
        margin-bottom: 15px;
    }
    .cell.o::before {
        font-size: 75px;
        margin-top: 7px;
    }
    .winning-message {
        font-size: 85px;
    }
}